<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ room.title }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script>
        var socket = io();

        function sendMessage() {
            var message = document.getElementById('message').value;
            console.log("Sending message: ", message);
            socket.emit('send_message', {msg: message, room: '{{ room.title }}'});
            document.getElementById('message').value = '';
        }

        socket.on('receive_message', function(data) {
            var messages = document.getElementById('messages');
            var newMessage = document.createElement('li');
            newMessage.innerText = data.msg;
            messages.appendChild(newMessage);
            console.log("Received message: ", data.msg);
        });

        // 방에 입장할 때 채팅 기록을 불러오기
        socket.on('load_chat_logs', function(chat_logs) {
            var messages = document.getElementById('messages');
            messages.innerHTML = '';  // 기존 메시지 초기화
            chat_logs.forEach(function(log) {
                var newMessage = document.createElement('li');
                newMessage.innerText = log.username + ": " + log.content;
                messages.appendChild(newMessage);
            });
        });

        // 방에 입장
        socket.emit('join', {room: '{{ room.title }}'});
    </script>
</head>
<body>
    <h1>{{ room.title }}</h1>

    <!-- 방 제목 변경 폼 -->
    <form action="{{ url_for('edit_room_title', room_id=room.id) }}" method="POST">
        <input type="text" name="new_title" placeholder="새로운 방 제목 입력">
        <button type="submit">제목 변경</button>
    </form>

    <ul id="messages">
        <!-- 채팅 기록이 여기 표시됩니다 -->
    </ul>
    <input type="text" id="message" placeholder="메시지 입력">
    <button onclick="sendMessage()">전송</button>

    <!-- 마송고 카풀 서비스 페이지로 돌아가기 버튼 -->
    <br>
    <a href="{{ url_for('index') }}"><button>이전 페이지로 돌아가기</button></a>

    <!-- 플래시 메시지 표시 -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% set latest_message = messages[-1] %}
            <ul class="flashes">
                <li class="flash-{{ latest_message[0] }}">{{ latest_message[1] }}</li>
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
