<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>방 만들기</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>방 만들기</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            <label for="title">방 제목</label>
            <input type="text" id="title" name="title" size="32">
        </div>
        <div>
            <button type="submit">방 만들기</button>
        </div>
    </form>
    <a href="{{ url_for('index') }}"><button>이전 페이지로 돌아가기</button></a>
</body>
</html>
